{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}
{% block body %}
    <div class="container">

        <div class="col">
            <h2  style="color:#f5bd4c;">Le lien vous a été renvoyé par mail !</h5>
            <h2 style="color:#000;">Vérifiez votre boite de réception et pourriel(spams).</h2>
        </div>
    </div>
{% endblock %}
