{% extends 'base.html.twig' %}

{% block body %}

        <!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url({{ asset('img/slider5.jpg') }});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2></h2>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- ##### Breadcrumb Area End ##### -->

        <!-- ##### Login Area Start ##### -->
<div class="mag-login-area py-5">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="login-content bg-white p-30 box-shadow">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Renseignez-le formulaire!</h5>
                </div>

                <form action="index.php" method="post">
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <select class="form-control" id="type_utilisateur" required>
                                <option>Client ou Vendeur</option>
                                <option value="1">Client</option>
                                <option value="2">Vendeur</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="nom" placeholder="Nom" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="prenom" placeholder="Prenom" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="mail" placeholder="Mail" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="numTelephone" placeholder="Numéro Telephone" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="adresse" placeholder="Adresse" required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="codePosal" placeholder="Code Postal" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="ville" placeholder="Ville" required>
                        </div>
                    </div>
                    <div class="form-row" id="idDetailMag">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="nommagasin" placeholder="Nom Magasin">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="numTva" placeholder="Numéros TVA">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="numSiret" placeholder="Numéros siret">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="motDePasse" placeholder="Mot de Passe" required>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="motDePasseConfirm" placeholder="Confirmer Mot de Passe" required>
                        </div>
                    </div>

                    <button type="submit" class="btn mag-btn mt-30">Valider</button>
                    <a href="index.php" class="post-title">
                        <button type="button" class="btn mag-btn mt-30">Retour</button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
        <!-- ##### Login Area End ##### -->
{% endblock %}
