{% extends 'base.html.twig' %}

{% block title %}{{ app_name }}{% endblock %}
{% block body %}
    <div class="container">

        <div class="col">
            <h5  style="color:#f5bd4c;">Votre compte est désormais activé !</h5>
        </div>
    </div>
{% endblock %}