{% extends 'base.html.twig' %}

        {% block title %}{{ app_name }}{% endblock %}
        {% block body %}
        <!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/slider4.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>Mentions légales</h2>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- ##### Breadcrumb Area End ##### -->

        <!-- ##### Breadcrumb Area Start ##### -->
<div class="mag-breadcrumb py-5">
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mentions légales et Conditions générales</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</div>
        <!-- ##### Breadcrumb Area End ##### -->

        <!-- ##### Contact Area Start ##### -->
<section class="contact-area">
<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-xl-8">
        <div class="contact-content-area bg-white mb-30 p-30 box-shadow">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Contact Info</h5>
            </div>

            <div class="contact-information mb-30">

                <!-- Single Contact Info -->
                <div class="single-contact-info d-flex align-items-center">
                    <div class="icon mr-15">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <p>Notre adresse:</p>
                        <h6 style="color: #000000;">12 Rue Lucien Voilin, 92800 Puteaux</h6>
                    </div>
                </div>

                <!-- Single Contact Info -->
                <div class="single-contact-info d-flex align-items-center">
                    <div class="icon mr-15">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <p>Email:</p>
                        <h6 style="color: #000000;">contact@tropicishop.fr</h6>
                    </div>
                </div>

                <!-- Single Contact Info -->
                <div class="single-contact-info d-flex align-items-center">
                    <div class="icon mr-15">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <p>Telephone:</p>
                        <h6 style="color: #000000;">(+33) 763749921</h6>
                    </div>
                </div>
            </div>

            <!-- Section Title Chapitre-->
            <div class="section-heading">
                <h6>Définitions </h6>
            </div>
            <!-- Section Detail Chapitre -->
            <div class="contact-form-area">
              <p>
                  -	Client : tout professionnel ou personne physique capable au sens des articles 1123 et suivants du Code civil, ou personne morale, qui visite le Site objet des présentes conditions générales.
                  -	Prestations et Services : https://tropicshop.fr met à disposition des Clients :
                  -	Contenu : Ensemble des éléments constituants l’information présente sur le Site, notamment textes, images, vidéos.
                  -	Informations clients :  Ci-après dénommé « Information (s) » qui correspondent à l’ensemble des données personnelles susceptibles d’être détenues par https://tropicshop.fr  pour la gestion de votre compte, de la gestion de la relation client et à des fins d’analyses et de statistiques.
                  -	Utilisateur : Internaute se connectant, utilisant le site susnommé.
                  -	Informations personnelles : « Les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).
                  -	Les termes « données à caractère personnel », « personne concernée », « sous-traitant » et « données sensibles » ont le sens défini par le Règlement Général sur la Protection des Données (RGPD : n° 2016-679)

              </p>
            </div>

            <!-- Section Title Présentation-->
            <div class="section-heading">
                <h6>Présentation du site internet </h6>
            </div>
            <!-- Section Detail Présentation -->
            <div class="contact-form-area">
                <p>
                    En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet https://tropicshop.fr l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
                        -	Propriétaire : TropicShop, Société par Actions Simplifiée à capital social variable, domiciliée au 12 RUE LUCIEN VOILIN  92800 PUTEAUX
                        -	Responsable publication : M. DIOP Elimane (+33754410649). Le responsable publication est une personne physique
                        -	Hébergeur : 1&1 IONOS SARL, sis 7 Place de la Gare, BP 70109, 57201 Sarreguemines Cedex
                        -	Délégué à la protection des données : OLATUNBOSUN Oladoyin (contact@tropicshop.fr)
                    Les présentes mentions légales sont conformes au règlement général sur la protection des données (RGPD).

                </p>
            </div>
            <!-- Section Title Conditions -->
            <div class="section-heading">
                <h6>Conditions générales d’utilisation du site et des services proposés </h6>
            </div>
            <!-- Section Detail Conditions  -->
            <div class="contact-form-area">
                <p>
                    Le Site constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété Intellectuelle et des Réglementations Internationales applicables. Le Client ne peut en aucune manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux du Site.
                    L’utilisation du site https://tropicshop.fr implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site sont donc invités à les consulter de manière régulière.
                    Ce site internet est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par TropicShop, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. Le site web https://tropicshop.fr est mis à jour régulièrement. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.

                </p>
            </div>
            <!-- Section Title Description  -->
            <div class="section-heading">
                <h6>Description des services fournis </h6>
            </div>
            <!-- Section Detail Description   -->
            <div class="contact-form-area">
                <p>
                    Le site internet https://tropicshop.fr a pour objet de fournir une information concernant l’ensemble des activités de la société. Cette dernière s’efforce de fournir sur le site des informations aussi précises que possible. Toutefois, Elle ne pourra être tenue responsable des oublis, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
                    Toutes les informations indiquées sur le site sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.

                </p>
            </div>
            <!-- Section Title Limitations   -->
            <div class="section-heading">s
                <h6>Limitations contractuelles sur les données techniques </h6>
            </div>
            <!-- Section Detail Limitations    -->
            <div class="contact-form-area">
                <p>
                    Le site utilise la technologie PHP. Le site Internet ne pourra être tenu responsable de dommages matériels liés à son l’utilisation. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour. Le site https://tropicshop.fr est hébergé chez un prestataire sur le territoire de l’Union Européenne conformément aux dispositions du Règlement Général sur la Protection des Données (RGPD : n° 2016-679)
                    L’objectif est d’apporter une prestation qui assure le meilleur taux d’accessibilité. L’hébergeur assure la continuité de son service 24 Heures sur 24, tous les jours de l’année. Il se réserve néanmoins la possibilité d’interrompre le service d’hébergement pour les durées les plus courtes possibles notamment à des fins de maintenance, d’amélioration de ses infrastructures, de défaillance de ses infrastructures ou si les Prestations et Services génèrent un trafic réputé anormal.
                    TropicShop et l’hébergeur ne pourront être tenus responsables en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques ou du matériel informatique et de téléphonie, lié notamment à l’encombrement du réseau empêchant l’accès au serveur.

                </p>
            </div>

        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-5 col-xl-4">
        <div class="sidebar-area bg-white mb-30 box-shadow">
            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h6>Videos</h6>
                </div>
                <!-- Sidebar Widget -->
                <div class="single-sidebar-widget">
                    <video src="img/bg-img/video1.mp4" class="add-img" controls poster="img/bg-img/recette.png">
                        Cette vidéo ne peut être affichée sur votre navigateur Internet.<br>
                        Une version est disponible en téléchargement sous <a href="URL">adresse du lien </a> .
                    </video>
                </div>
                <div class="post-meta">
                    <a href="https://instagram.com/saveurs_afrique?=nametag" class="post-title" target="_blank">Plus de détails...</a>
                </div>
            </div>
            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>Galeries</h5>
                </div>
                <!-- Sidebar Widget -->
                <div class="single-sidebar-widget">
                    <a href="#" class="add-img"><img src="img/bg-img/72.jpg" alt=""></a>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                <div class="single-sidebar-widget">
                    <a href="#" class="add-img"><img src="img/bg-img/71.jpg" alt=""></a>
                </div>
            </div>

        </div>
    </div>
</div>
</section>
        <!-- ##### Contact Area End ##### -->
        {% endblock %}